#yellow {
  background-color: yellow;
  border: 3px solid green;
}

#red {
  background-color: red;
  /* This should be yellow to match the image */
  border: 3px solid black;
}

#green {
  background-color: green;
  /* This should be black to match the image */
  border: 3px solid yellow;
}